*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-colour);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
a,
p {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}

ul,
li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

a {
    color: inherit;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    background: url(../images/Texture255x255.jpg);
    border-radius: 30px;

}

.container{
    /* margin-left: 150px;
    margin-right: 150px; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    
}
.page-header{
    display: flex;
    flex-direction: row;
    gap: 0;
}
.page-header__title {
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 1.71;
}

.page-header__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.71;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.7;
}

.page-header__info {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
    align-items: center;

    color: #000000;
}

.page-header__list-info {

}

.page-header__body{
    flex: 0 1 70%;
}
.page-header__image{
    padding: 30px 0;
    flex: 0 1 30%;
    display: inline-block;
    background-color: rgba(9, 9, 186, 0.954);
    border-radius: 20px;
}

.page-header__photo{
    width: 200px;
    border-radius: 50%;
    transform: translate(-50%, 0); 
    /* position: relative; */
}
.page-header__image{
}
.page-header__circle-border{
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 11px solid #52d4ff;
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, 0);
}

.page-header__circle-border::before{
    content: '';
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: url(../images/my_photo.jpg) 0 0 / 250px no-repeat;
    position: absolute;
    transform: translate(6%, 6%);
}


.page-header_icon{
    fill: green;
}

.page-main__content{
    display: flex;
    flex-direction: row;
}


.page-main__data{
    background-color: #023E8A;
    flex: 0 1 70%;
    display: flex;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 50px ;
}

.page-main__sidebar{
    flex: 0 1 30%;
    display: flex;
    padding: 30px 30px;
    flex-direction: column;

}
.sidebar-elenent__list-item::after{
    content:'';
    position: absolute;
    display: block;
    width: 150px;
    height: 2px;
    background-color: #00B4D8;
    color: #00B4D8;
}

.wrapper {}

.page-header {}

.container {}

.page-header__body {}

.page-header__title {}

.page-header__subtitle {}

.page-header__info {}

.page-header__list-info {}

.page-header_icon {}

.page-header__image {}

.page-header__circle-border {}

.page-main { 
   }

.page-main__content {}

.page-main__data {}

.page-main__section {
    margin-bottom: 20px;
}
.page-main__section li{
    margin-top: 20px;
}
.section__title{
    margin: 0 0 30px -50px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
    line-height: 80px;
    color: #fff;
    background: linear-gradient(90deg, #0096C7 0%, rgba(0, 150, 199, 0) 84.32%);;
}
.section__title::before{
    content: '';
    display: inline-block;
    width: 70px;
    height: 60px;
    background-color: #023E8A;
    border-radius: 50%;
    transform: translate(-50%, 20% );
}
.section__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #48CAE4;
}
.section__subtitle-second-row{
font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
}
.section__text{
    font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        opacity: 0.7;
}

.sidebar__title{
    font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        align-items: center;
        text-transform: uppercase;
        color: #000124;
}
.subtitle__text{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 50px;
align-items: center;
text-transform: uppercase;

color: #000000;}

.page-main__ {}

.page-main__sidebar {}

.sidebar-element {}

.sidebar-elenent__list-item {}
/* .page-header__photo:nth-child(1){
    content: ''; */
    /* position: absolute; */
  
    /* background-image: radial-gradient(circle at center,
                #52d4ff 100%,
                #52d4ff 102%
                #52d4ff 105%);
} */


    /* background-image: radial-gradient(circle at center,
            #52d4ff 100%,
            #52d4ff 102%);
  /* display: inline-block;
    width: 220px;
    height: 220px;
    border: 5px solid #52d4ff;
    top: 0;
    left: 0; */

/* .page-header__circle-border{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: translate(-50%, 0);
    border: 4px solid #52d4ff;
} */
/* ================================================>> */
/* .wrapper {}

.page-header {}

.container {}

.page-header__body {}



.page-header__image {}

.page-header__photo {} */


